@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&family=Stick+No+Bills:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Mark-Pro';
    src:url('../fonts/Mark-Pro.woff') format('woff'),
          url('../fonts/Mark-Pro.woff2') format('woff2'),
          url('../fonts/Mark-Pro.svg#Mark-Pro') format('svg'),
          url('../fonts/Mark-Pro.eot'),
          url('../fonts/Mark-Pro.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Mark-Pro.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
  }
body{color: #fff; font-family: 'Archivo', sans-serif;} 
a,a:hover{text-decoration: none; color: #fff;} 
img{max-width: 100%;}
/* landing page css */
.page-box {min-height: 100vh;background-size: cover;background-position: center center;background-repeat: no-repeat; background-attachment: fixed; padding: 32px 67px 0px 300px; overflow: hidden; position: relative;}

/* sidebar css */
.sidebar {position: fixed;left: 0;top: 0;width: 300px;z-index: 999; height:100%;display: flex;justify-content: space-between;flex-direction: column; min-height: 440px;}
.sidebar-logo {text-align: center;padding: 54px 10px 30px;}
.sidebar-nav {position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
.sidebar-nav .main-nav {margin: 0;list-style-type: none;background: #000;border-radius: 0px 10px 10px 0px;border: 5px solid transparent;border-image: linear-gradient(90deg, rgba(3, 43, 146, 1), rgba(211, 211, 211, 1), rgba(3, 43, 146, 1));border-image-slice: 1;border-left: none;padding: 25px 0;}
.sidebar-nav .main-nav > li {margin: 0 0 30px;}
.sidebar-nav .main-nav > li:last-child{margin: 0px;}
.sidebar-nav .main-nav > li > a {display: flex;position: relative;min-width: 63px;justify-content: center; font-family: 'Stick No Bills', sans-serif;}
.sidebar-nav .main-nav li a span {position: absolute;left: 100%;right: auto;border: 3px solid transparent;color: #fff;text-transform: uppercase;padding: 8px 30px;background:linear-gradient(#000, #000) padding-box, linear-gradient(to left, rgba(255, 255, 255, 0.82), rgba(3, 43, 146, 0.82)) border-box;display: flex;align-items: center;justify-content: center; border-radius: 0 5px 5px 0;letter-spacing: 6px;font-size: 22px;top: 0px;opacity: 0;transition: all 0.3s ease-out 0s; font-weight: 500; white-space: nowrap; min-width: 187px; pointer-events: none;}
.sidebar-nav .main-nav li a span:before {position: absolute;content: "";right: 6px;border-top: 3px solid;border-right: 3px solid;width: 13px;height: 13px;transform: rotate(-135deg);transform-origin: right;margin-top: -11px;top: 50%;}
.sidebar-nav .main-nav li a:hover span,
.sidebar-nav .main-nav li.active a span{opacity:1; pointer-events: all;}

.sidebar-social {text-align: center; padding:20px 10px 20px;}
.sidebar-social h5 {font-size: 22px;text-transform: uppercase;margin: 0 0 20px;background: linear-gradient(to top, rgba(132, 132, 132, 1), rgba(255, 255, 255, 1), rgba(82, 81, 81, 1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 500; font-family: 'Stick No Bills', sans-serif; letter-spacing: 6px;}
.social-links {list-style-type: none;padding: 0;margin: 0;display: flex;justify-content: center;}
.social-links li {margin: 0 10px;}

/* .main-content {background: linear-gradient(#000,#000) padding-box, linear-gradient(180deg,rgba(73, 0, 0, 0.82),rgba(134, 5, 5, 0.81)) border-box; border: 3px solid transparent;display: block;margin: 0 auto;width: 100%; border-radius: 30px 30px 0px 0px;overflow: hidden; border-bottom: none;} */
.inner-container { margin: 0 auto; /*box-shadow: 0px 4px 4px 6px rgba(103, 2, 2, 0.45);*/padding: 120px 30px 120px; position: relative; min-height: calc(100vh - 110px);     max-width: calc(100% - 300px);}
.box-bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-position:center center; background-size: contain; background-repeat: no-repeat;}
.box-bg:before{position: absolute; content:""; left: 0; top: 0; width: 100%; height: 100%; background:linear-gradient(180deg, rgba(6, 31, 95, 0.29) 0%, #000B31 100%);}


.btn {color: #fff;display: flex;background: rgba(0, 0, 0, 0.25);font-size: 22px;font-family: 'Stick No Bills';letter-spacing: 7px;align-items: center;justify-content: center;height: 55px;padding: 0 30px;border-radius: 5px;border: 3px solid transparent;border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.82),rgba(3, 43, 146, 0.82), rgba(3, 43, 146, 0.82), rgba(255, 255, 255, 0.82));border-image-slice: 1;transition: all 0.3s ease-out 0s;}
.btn:hover{background: #000;}

.top-heading {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    background: rgba(3, 43, 146, 0.05);
    box-shadow: 0px 4px 4px rgb(49 0 0 / 49%), inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px 30px 0px 0px;
}
.top-heading .left-nav {margin-top: auto;}
.left-nav .link-list {padding: 0;margin: 0;list-style-type: none;display: flex;}
.left-nav .link-list li {margin-right: 10px;}
.left-nav .link-list li a {color: #fff;padding: 5px 20px;border-radius: 20px 20px 0px 0px;font-size: 22px;letter-spacing: 7px;text-transform: uppercase;font-family: 'Stick No Bills';}
.left-nav .link-list li.active a{background:rgba(3, 43, 146, 0.23);}
.top-heading .right-btn {padding: 9px 0;}

.home-content {text-align: center;position: relative;z-index: 10;}
.home-content h2 {
    font-size: 67px;
    line-height: 72px;
    text-transform: uppercase;
    margin: 0px 0 180px;
    font-weight: 700;
    text-align: left;
    font-family: 'Archivo', sans-serif;
}
.main-home-content .home-top p{max-width:800px; margin-left: auto; margin-right: auto;}
/*.home-content ul {padding: 0;margin: 0 auto;list-style-type: none;max-width: 560px;text-align: left;}
.home-content ul li{padding: 0 0 0 40px;position: relative;margin: 0 0 15px;font-size: 25px;line-height: 35px;background: url(../images/list-arrow.svg) no-repeat left center; background-size: 20px auto;;}
.home-content .btn {max-width: 345px;margin: 70px auto 0;}*/

/* section title */
.section-title {position: relative;text-align: center;margin: 0 0 60px; z-index: 10;}
.section-title h2 {position: relative;padding: 0 0 10px 10px;font-size: 96px;line-height: 1.2;color: #fff;letter-spacing: 0.33em;font-weight: 400; text-transform: uppercase; font-family: 'Mark-Pro';}
.section-title h2:before {position: absolute;content: "";width: 350px;background: linear-gradient(90deg, rgba(196, 196, 196, 0), rgba(196, 196, 196, 1), rgba(196, 196, 196, 0)) border-box;height: 5px;transform: translateX(-50%);bottom: 0;left: 50%;}

/* main home page css start */
.home-main-info{position: relative;}
/*.home-main-info::before{position: absolute; content: ""; left: 0; bottom:8%; width:140px; height:240px; background: url(../images/semi-circle.png) no-repeat left center; background-size:contain;} 
.home-main-info::after{position: absolute; content: ""; right:0; top: 8%; width:140px; height:240px; background: url(../images/semi-circle.png) no-repeat left center;background-size: contain; transform:rotate(180deg); margin-top:73px;} */
.home-main-info .inner-container{padding-bottom: 0;max-width: calc(100% - 510px);}
.main-home-content {position: relative;z-index: 9;background-repeat: no-repeat;background-position: bottom center;min-height:720px;padding: 0 0 70px;display: flex;flex-direction: column;justify-content: space-between;background-size: contain;}
.main-home-content .home-bottom {text-align: right;    max-width: 80%; margin-left: auto;}
.main-home-content p {
    font-size: 25px;
    letter-spacing: 0;
}
.home-container .box-bg {pointer-events: none; display: flex;}
.home-container .box-bg img {
    position: relative;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.home-container .box-bg::before{background:linear-gradient(180deg, rgba(6, 31, 95, 0.29) 0%, #000B31 100%);}
.main-home-content .home-top {
    text-align: center;
}
.main-home-content .home-top h4 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    margin: 0 0 25px;
}



/* main about page css start */
.about-main-info{position: relative;}

/* .about-main-info::before{position: absolute; content: ""; left: 0; bottom: 10%; width:140px; height:240px; background: url(../images/semi-circle.png) no-repeat left center; background-size:contain;} 
.about-main-info::after{position: absolute; content: ""; right:0; top: 10%; width:140px; height:240px; background: url(../images/semi-circle.png) no-repeat left center;background-size: contain; transform:rotate(180deg); margin-top: 73px;}  */
.about-main-info .inner-container{max-width: calc(100% - 500px); padding-bottom: 60px;}
.main-about-content {position: relative;z-index: 9;background-repeat: no-repeat;background-position: top 0px center; display: flex;flex-direction: column;background-size: contain;}
/*.main-about-content:before {position: absolute;content: "";left: 0;bottom:5%;width: 100%;height: 140px;background-image: url(../images/mission-bg.png);background-repeat: no-repeat;background-position: 10% bottom; background-size:contain;}*/
.about-img {margin-top: -30px;margin-bottom: -30px;}
.about-img img {
    display: block;
    margin: 0 auto;
}
.mission-container .section-title{margin-bottom: 0;}
.mission-container .section-title h2 {
    font-size: 120px; line-height:1.1; padding: 0px;
    text-transform: uppercase;
    margin: 0 0 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(144, 144, 144, 0.64), rgba(3, 43, 146, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: 'Archivo';
    letter-spacing: 0;
}
.mission-container .section-title h2:before{display: none;}

.main-about-content .about-bottom {text-align: right; position: relative;}
/* .main-about-content .about-top{padding-bottom: 200px;} */
.main-about-content .about-top p {font-size:25px;color: #fff;letter-spacing: 0.33em; font-weight: 700; line-height: 1.1;}
.main-about-content .about-bottom p {font-size:18px;color: #fff;letter-spacing: 0.33em; max-width: 70%; margin-left: auto;}
.main-about-content .about-bottom p:first-child {font-size: 20px;}
.main-about-content .about-bottom p:nth-child(2n) {text-align: left;margin-right: auto;    margin-left: 0;}

.main-about-content .about-bottom .icon-img {
    position: absolute;
    left: 2%;
    bottom: 2%;
}

.about-main-info.how-it-work .inner-container{max-width: calc(100% - 300px);}
.hiw-content h4 {font-size: 25px;line-height: 1.3;margin: 0 0 10px;letter-spacing: 0.33em;}
.hiw-list {display: block;width: 100%;}
.hiw-list .hiw-item {display: flex;align-items: center;margin: 0 0 10px;flex-wrap: wrap;width: 100%;}
.hiw-list .hiw-item:nth-child(2n+1) {flex-direction: row-reverse;}
.hiw-list .hiw-item .hiw-img {width: 40%;padding:5px 30px;text-align: center; display: flex; align-items: center; justify-content: space-around;}
.hiw-list .hiw-item .hiw-text {width: 60%;padding: 0 0 0 0px;}
.hiw-list .hiw-item .hiw-text p{font-size: 18px; line-height: 1.3; letter-spacing: 0.33em;}


.about-main-info.how-it-work::before {top: 20%;bottom: auto;width: 140px;height: 60%;background:transparent;background-image: url(../images/semi-circle.png), url(../images/semi-circle.png);background-size: 120px;background-repeat: no-repeat;background-position: top left, bottom center;}
.about-main-info.how-it-work::after{bottom: 10%;top: auto;width: 140px;height:55%;background:transparent;background-image: url(../images/semi-circle.png), url(../images/semi-circle.png);background-size: 120px;background-repeat: no-repeat;background-position: top left, bottom center;}


/* main about page css end */

/* ecosystem page start  */
.main-content.ecosystem-main-info {overflow: hidden;}

.announcement-top{position: absolute;left: 0;width: 100%;top:106px; overflow: hidden; z-index:20;}
.announcement-bottom{position: absolute;right: 0;width:217px;top:175px;  overflow: hidden}

.announcement-text {background: linear-gradient(180deg, rgba(2, 13, 56, 0.9) 0%, rgba(2, 13, 55, 0.9) 51.35%, rgba(2, 13, 55, 0.9) 100%);padding: 10px;font-size: 30px;line-height: 1.2;display: flex;flex-wrap: nowrap;overflow: hidden; position: relative; width: 100vw; height:78px;}
.announcement-text p{position: absolute;white-space: nowrap;will-change: transform;animation: marquee 60s linear infinite; margin: 0;white-space: pre; top:22px; letter-spacing: 0.15em; text-transform: uppercase;}
@-webkit-keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.main-ecosystem-content {position: relative; z-index: 9;}
.ecosystem-heading h4 {font-size: 30px;line-height: 1.3;margin: 0 0 10px;letter-spacing: 0.3em;text-transform: uppercase;}
.ecosystem-heading p {font-size: 25px;letter-spacing: 0.3em;line-height: 1.3; max-width: 95%;}

.inner-container.ecosystem-container {padding-bottom:0px;}
.fragmenting-box {position: relative;padding: 30px 30px 0px 30px;}

.fragmenting-box .fragmenting-img1{position: absolute; left:0px; top:25%;}
.fragmenting-box .fragmenting-img2{position: absolute; left:5%; bottom:0;}
.fragmenting-box .fragmenting-img3{position: absolute; right:0px; bottom:0;}

/* .fragmenting-slider {width: 100%;box-shadow: 0px 2.91188px 2.91188px rgb(0 0 0 / 25%), 0px 2.91188px 2.91188px rgb(0 0 0 / 25%), inset 0px 2.91188px 2.91188px rgb(0 0 0 / 25%);}
.fragmenting-slider img{width:100%;border-radius: 5px;} */
.fragmenting-slider .slick-arrow {position: absolute;left: -35px;bottom: 10%;z-index: 9;font-size: 0;border: none;padding: 0;margin: 0;width: 70px;height: 70px;background: linear-gradient(180deg, #2C0000 0%, #2E0000 100%);border-radius: 50%; cursor: pointer;}
.fragmenting-slider .slick-arrow:hover,
.fragmenting-slider .slick-arrow:focus{outline: none; border: none;}
.fragmenting-slider .slick-arrow:before {position: absolute;content: "";border-top: 3px solid #fff;border-right: 3px solid #fff;width: 20px;height: 20px;transform: rotate(-135deg);left: 50%;top: 50%;margin-top: -10px;margin-left: -5px;}
.fragmenting-slider .slick-next.slick-arrow {top: 10%;bottom: auto;right:-35px;left: auto;}
.fragmenting-slider .slick-next.slick-arrow:before {transform: rotate(45deg);margin-left: -15px;}
.fragmenting-slider .slick-slide div {vertical-align: top;}
.fragmenting-slider img {margin: 0 auto; display: block; }

.marketplace-content {position: relative; padding-top:130px;}
.marketplace-content .marketplace-img1{position: absolute; right: 0; top:3%;}
.marketplace-content .marketplace-img2{position: absolute; left:10%; bottom:0px; max-width:40%;}
.marketplace-content .marketplace-img3{position: absolute; left:65%; bottom:25%;}
/* .marketplace-list{position: relative; padding: 70px 0 35px; background-image: url(../images/marketplace-bg1.png), url(../images/marketplace-bg3.png); background-repeat: no-repeat; background-position: right 3% top 0px, 40% 75%; margin-bottom:-70px;} */
.marketplace-list .marketplace-item {display: flex;flex-wrap: wrap;align-items: center;}
.marketplace-list .marketplace-item:nth-child(2n) {flex-direction: row-reverse;align-items: flex-start;}
.marketplace-list .marketplace-item:nth-child(2n) .marketplace-img{text-align: right;}
.marketplace-list .marketplace-item .marketplace-img {width: 35%;text-align: center;padding: 10px 30px;}
.marketplace-list .marketplace-item .marketplace-text {width: 65%; text-align: right;}
.marketplace-list .marketplace-item:nth-child(2n) .marketplace-text{text-align: left;}
.marketplace-item .marketplace-text p{font-size: 20px; line-height: 1.3; letter-spacing: 0.33em;}
/*.inner-container.algorithm-container:before {position: absolute;right:2%;top: 240px;background: url(../images/alg-1.png);width: 150px;content: "";height: 150px;background-size:113px;background-repeat: no-repeat;background-position: center; pointer-events: none;}*/
.algorithm-container .al-right-top {position: absolute;right: 4%;top: 24%;}

.algorithm-container .al-left-top {position: absolute;left: 20px;top: 40px;width: 180px;height: 180px;}
.algorithm-container .al-left-top .al-1 {position: absolute;right: 0;width: 77px;}
.algorithm-container .al-left-top .al-2 {left:30%;top:30%;max-width: 63px;position: absolute;}
.algorithm-container .al-left-top .al-3 {bottom: 0;left: 0;max-width: 43px;position: absolute;}
.algorithmic-block .al-blk-img1 {position: absolute;left: 0;top: 30%;}
.algorithmic-block .al-blk-img2 {position: absolute;bottom:20px;right: 0;}
.algorithmic-block{padding: 30px 0 130px;}
.algorithmic-rte p {font-size: 25px;line-height: 1.3;letter-spacing: 0.33em;width: 92%;}
.algorithmic-rte p:nth-child(2n) {margin-left: auto; text-align: right;}

/* ecosystem end  */

/* fund page css start */
.main-fund-content {position: relative;z-index: 9;}
.fund-heading {max-width: 83%;}
.fund-heading h4 {margin: 0 0 15px;font-size: 30px;line-height: 1.3;letter-spacing: 0.33em;text-transform: uppercase;font-weight: 400;}
.fund-heading p {font-size: 25px;letter-spacing: 0.33em;}
.fund-overview-content p {font-size: 18px;line-height: 1.3;letter-spacing: 0.33em;max-width: 63.2%;}
.fund-overview-content p:nth-child(2n+1) {margin-left: auto;text-align: right;}
.fund-overview-content p:last-child{max-width: 100%;}

.fund-overview-block{position: relative; padding-bottom:0px;}
/* .fund-overview-block:before {position: absolute;content: "";left: 0;top:0px;width: 100%;bottom: 0;background-image:url(../images/overview-bg2.png), url(../images/overview-bg3.png), url(../images/overview-bg4.png), url(../images/overview-bg5.png);background-repeat: no-repeat;background-position:right 9% top 190px, 4% 80%, 40% bottom, 73% 97%;z-index: 1;} */
.fund-overview-block .section-title h2{display: inline-block;}
.fund-overview-block .section-title h2:after {position: absolute;content: "";    right: -170px;width: 192px;height: 234px;top: -72px;background: url(../images/overview-bg1.png) no-repeat center center;}
.fund-overview-block .overview-img1{position: absolute; right:9%; top: 0;}
.fund-overview-banner img{margin:0 auto; display: block;}
.main-fund-content.main-structure-content {position: relative;}
.main-fund-content.main-structure-content .fund-structure-rte {position: relative;z-index: 9;}

.fund-overview-block .main-fund-content{padding-top:50px;}
.fund-main-info .overview-img2 {position: absolute;right:10px;top: 270px;z-index: 1;}
.map-milestone-block .section-title h2:before,
.fund-overview-block .section-title h2:before{display: none;}
.map-milestone-block .section-title h2,
.fund-overview-block .section-title h2 {
display: inline-block;
font-size: 120px;
line-height: 1.1;
padding: 0px;
text-transform: uppercase;
margin: 0 0 20px;
background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(144, 144, 144, 0.64), rgba(3, 43, 146, 0));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
font-family: 'Archivo';
letter-spacing: 0;
}

.fund-structure-rte p {margin-left: auto;font-size: 18px;letter-spacing: 0.33em;max-width: 88%;text-align: right;}
.fund-structure-rte h5 {margin: 0 0 30px;font-size: 25px;letter-spacing: 0.3em; max-width: 84%;}
.fund-structure-rte h5:first-child{max-width: 100%; margin-top: 0;}
.fund-structure-rte h5 {margin-top: 50px;}
/* .fund-structure-rte:before {position: absolute;content: "";left: 0;right: 0;top:-90px;bottom:-50px; background-image: url(../images/structure-bg1.png), url(../images/structure-bg2.png), url(../images/structure-bg3.png); background-repeat: no-repeat;background-position: right top, left 34%, right bottom;} */

.main-structure-content .structure-img1{position: absolute; right: 0; top:-150px;}
.main-structure-content .structure-img2{position: absolute; left: 0; top:29%;}
.main-structure-content .structure-img3{position: absolute; right: 0; bottom:0;}

.supply-amount {position: relative;width: 100%;max-width: 620px;display: flex;min-height: 520px;align-items: center;justify-content: center;margin:110px auto 100px;flex-direction: column;}
.supply-amount h5 {font-size: 30px;line-height: 1.3;margin: 0 0 20px;text-transform: uppercase;letter-spacing: 0.2em;}
.supply-amount .amount {font-size: 50px;background: linear-gradient(to bottom, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0));-webkit-background-clip: text;-webkit-text-fill-color: transparent;line-height: 1.26;font-weight: 700; letter-spacing: 0.2em;     /* -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;*/}
.supply-amount .token-cirlce{position: absolute;left: -70px;top: 0;pointer-events: none;}
.supply-amount .token-money1 {position: absolute;right: -30px;top: 30px;pointer-events: none;}
.supply-amount .token-money2 {position: absolute;right: -170px;top: 38%;pointer-events: none;}

/* .inner-container.token-container:before {position: absolute;content: "";left: 0;top: 0;right: 0;bottom: 0; background-image:url(../images/token-bg1.png), url(../images/token-bg3.png), url(../images/token-bg3.png), url(../images/token-bg2.png); background-repeat: no-repeat; background-position: left top, right 45px top 45px, left 45px bottom 45px, right bottom; pointer-events: none; z-index: 1;} */

/* fund page css end */

/* road map css start */
.inner-container.road-map-container.milestone-container {padding-bottom: 0;}
.inner-container.milestone-container:before{position: absolute; content:""; left:-70px;bottom:-30px; width: 132px; height:350px; background:url(../images/milestone-icon1.png) no-repeat center center; z-index: 1;}
/* .inner-container.milestone-container:after{position: absolute; content:""; right:-40px;top:50%; width: 70px; height:70px; background:url(../images/milestone-icon2.png) no-repeat center center; z-index: 1;} */

.milestone-content {position: relative;z-index: 9;}
.milestone-content h4 {margin: 0 0 15px;font-size: 30px;letter-spacing: 0.33em;line-height: 1.3;}
.milestone-content img {display: block;margin: 0 auto -65px;}
.milestone-content p {font-size: 25px;letter-spacing: 0.33em;line-height: 1.3;text-align: right;max-width: 95%;margin-left: auto;margin-bottom: 30px;}
.map-milestone-block .section-title {position: relative;}
.milestone-slide0 .map-milestone-block .section-title:before{position: absolute; content:""; right:2%;bottom:-40px; width:218px; height:76px; background:url(../images/milestone-icon3.png) no-repeat center center;}

.map-partner-block {position: relative;z-index: 9; margin-bottom:0px; min-height:1000px;}
.partners-content {text-align: center;}
.partners-content h4 {font-size: 30px;letter-spacing: 0.33em;line-height: 1.3;margin: 0 0 30px;}
.metaverses-list {padding: 0 20px;margin: 60px auto 0;list-style-type: none;display: flex;/* flex-wrap: wrap; */max-width: 992px; /*border: 3px solid #fff;border-radius: 61px;box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/}
.metaverses-list li {width: 20%;}
.metaverses-list li a {border-right: 3px solid #fff;display: flex;height: 100%;position: relative;justify-content: center;padding: 38px 15px;}
.metaverses-list li a .social-title {position: absolute;top: -40px;width: 100%;font-size: 22px;font-weight: 700;letter-spacing: 0px;text-transform: uppercase;}
.metaverses-list li:last-child a{border:none;}

.partner-bottom-image {position: absolute;right: 0;bottom: 0;top: auto;}
.partner-bottom-image img {max-height: 100%;}

.road-map-container.partner-container{padding-bottom:0px;display: flex;flex-direction: column;}
.road-map-container.partner-container:before{position: absolute;content: "";left: 0;top: 0;width: 100%;height: 100%; background-image:url(../images/partner-icon2.png); background-repeat: no-repeat; background-position: left top 75%; z-index:2;}
.partner-image {text-align: right;overflow: hidden;margin-top:auto;margin-right: -35px;position: relative;display: flex;margin-left: auto;justify-content: flex-end;}
.partner-image img {transform: translateX(30%);}
.map-partner-block .section-title{text-align: center;}
.map-partner-block .section-title h2{display: inline-block;}
.map-partner-block .section-title h2:after{position: absolute;content: "";    right: -60px; bottom: -116px;width: 160px;height:160px; background-image:url(../images/partner-icon1.png); background-repeat: no-repeat; background-position:center center;}

.road-map-container.team-container{padding-bottom:0px;display: flex;flex-direction: column;}
.road-map-container.team-container:before{position: absolute;content: "";left: 0;top: 0;width: 100%;height: 100%; background-image:url(../images/partner-icon2.png); background-repeat: no-repeat; background-position: left top 80%; z-index:2;}
.team-container .bottom-logo{margin-top:auto;display: flex; position: relative; z-index: 2; padding-bottom:10px;}
.team-container .bottom-logo img {max-width: 227px;}
.map-team-block{position: relative; z-index:9; min-height: 900px;}
.map-team-block .section-title{text-align: center;}
.map-team-block .section-title:after{position: absolute;content: "";left:0; top:50%;width:100%;height:129px; background-image:url(../images/team-star1.png) url(../images/team-star2.png); background-repeat: no-repeat; background-position:center center; transform: translateY(-50%); pointer-events: none;}
.map-team-block .team-content p {margin: 0 auto;max-width: 82.5%;font-size: 25px;letter-spacing: 0.33em;line-height: 1.3;}

.other-miltestone .map-milestone-block .section-title:before{display: none;}
.other-miltestone .milestone-banner{position: relative;}
.other-miltestone .milestone-banner .main-img {margin-bottom: -20%;}
.other-miltestone .milestone-banner .shape1 {position: absolute;right: 0;top:-50px; margin: 0px; max-height: 48%;}
.other-miltestone .milestone-banner .shape2 {position: absolute;left: 50%;top: 50%;margin: -40px 0 0;transform: translate(-50%,-50%);max-height: 100%;}
.other-miltestone .milestone-banner .shape2 + .main-img {margin-bottom: -40px;}

.other-miltestone .milestone-banner .shape3 {position: absolute;left: 2%;top: 20%;margin: -40px 0 0;max-height: 40%;right: -10px;}
.other-miltestone .milestone-banner .shape3 + .main-img {margin-bottom: -23%;}

.other-miltestone .milestone-banner .shape4 {position: absolute;left: 50%;top: 50%;margin: -40px 0 0;transform: translate(-50%,-50%);max-height: 100%;}
.other-miltestone .milestone-banner .shape4 + .main-img {margin-bottom: -55px;}

.milestone-wrapper {position: relative;}
.wave-effect {
    position: absolute;
    left: 50%;
    top: 100px;
    overflow: hidden;
    width: 100%;
    transform: translateX(-50%);
    max-width: 1019px;
}
.wave-effect .video{width:170%;opacity: 0.2;position: absolute;left: 50%;top: 50%;height: auto;transform: translate(-29%, -52%);}
.wave-effect img {display: block; margin: 0 auto 0px; opacity: 0;}
.milestone-banner{position: relative;}
.milestone-banner .main-img {opacity: 0; margin-bottom: 0;}
.milestone-content {display: flex !important;flex-direction: column; min-height:850px;}

.milestone-banner .shape {position: absolute;left: 0;top: 0; margin:0;}
.milestone-content.milestone-item2 .shape{top:-40px;max-height: 48%;right:0; left:auto;}
.milestone-content.milestone-item3 .shape{left: 50%;top: 50%;transform: translate(-50%,-50%);max-height: 100%; margin-top: -20px;}
.milestone-content.milestone-item4 .shape{left: 2%;top: 0%;max-height:40%; right: -10px;}
.milestone-content.milestone-item5 .shape{left: 50%;top: 50%;transform: translate(-50%,-50%);max-height: 100%;}
.milestone-content.milestone-item1 .milestone-banner {margin-bottom: -60px;}
.milestone-content.milestone-item2 .milestone-banner {margin-bottom: -12%;}
.milestone-content.milestone-item3 .milestone-banner {margin-bottom: -40px;}
.milestone-content.milestone-item4 .milestone-banner {margin-bottom: -20%;}
.milestone-content.milestone-item5 .milestone-banner {margin-bottom: -30px;}
.map-milestone-block .milestone-button {position: absolute;right: -50px;top: 50%;width: 110px;height: 80px;z-index: 1;cursor: pointer;}

.bottom-team-img {position: absolute;right: 0;bottom: 0;max-width: 60%;}

.landing-container{overflow: hidden; z-index:1;}
.landing-container .box-bg{display: flex; align-items: center; justify-content: center; }
.landing-container .box-bg .world-image{position: relative;transform: translate(0px,0px); z-index: -1;}
.landing-container .box-bg .world-image{
    -webkit-animation-name: world;
	animation-name: world;
    -webkit-animation-duration:15s;
	animation-duration: 15s;
	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    
}
@-webkit-keyframes world{
    0%{
        transform: translate(0px,0px) ;
    }
    20%{
        transform: translate(30px,0px);
    }
    40% {
        transform: translate(0px,0px);
    }
    60% {
        transform: translate(-30px,0px);
    }
    80% {
        transform: translate(0px,30px);
    }
    100% {
        transform: translate(0px,0px);
    }

}
@keyframes world{
    0%{
        transform: translate(0px,0px) ;
    }
    20%{
        transform: translate(30px,0px);
    }
    40% {
        transform: translate(0px,0px);
    }
    60% {
        transform: translate(-30px,0px);
    }
    80% {
        transform: translate(0px,30px);
    }
    100% {
        transform: translate(0px,0px);
    }

}

/* road map css end */


/* animation for images */
.inner-container.milestone-container:before,
.milestone-slide0 .map-milestone-block .section-title:before,
.road-map-container.partner-container:before,
.road-map-container.team-container:before{animation: gravity 10s infinite;}
.map-partner-block .section-title h2:after{animation: gravity 14s infinite;}

.icon-animation{animation: gravity 10s infinite;}


@-webkit-keyframes gravity{
    0%{
        transform: translate(0px,0px) scale(1);
        
    }
    20%{
        transform: translate(25px,0px) scale(0.8);
    }
    40% {
        transform: translate(0px,25px) scale(1);
        
    }
    60% {
        transform: translate(-25px,0px) scale(1.1);
    }
    80% {
        transform: translate(0px,-25px) scale(0.9);
    }
    100% {
        transform: translate(0px,0px) scale(1);
        
    }
}
@keyframes gravity{
    0%{
        transform: translate(0px,0px) scale(1);
       
    }
    20%{
        transform: translate(25px,0px) scale(0.8);
    }
    40% {
        transform: translate(0px,25px) scale(1);
       
    }
    60% {
        transform: translate(-25px,0px) scale(1.1);
    }
    80% {
        transform: translate(0px,-25px) scale(0.9);
    }
    100% {
        transform: translate(0px,0px) scale(1);
        
    }
}


.milestone-banner .shape{animation: blink 4s infinite;}
@keyframes blink{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* single element animation css */
.about-img {position: relative;min-height: 250px;}
.about-img > img {position: absolute;}
.about-img .about-img1 {left: 0;top: 10%;max-width:40px;}
.about-img .about-img2 {left:5%;top:15%;max-width: 135px; animation-duration:8s;}
.about-img .about-img3 {left: 20%;bottom:10%;max-width: 50px; animation-duration:12s;}
.about-img .about-img4 {left: 32%;top: 30%; animation-duration:14s;}
.about-img .about-img5 {right: 40%;top: 50%;max-width: 70px; animation-duration:11s;}
.about-img .about-img6 {right: 17%;top: 10%;max-width: 170px; animation-duration:9s;}
.about-img .about-img7 {right: 5%;top:5%;max-width:50px; animation-duration:5s;}

.about-bottom .icon-img1 {max-width: 80px;position: absolute;left: 0;bottom: 30%; animation-duration:16s;}
.about-bottom .icon-img2 {position: absolute;left: 5%;bottom: 3%;max-width: 160px; animation-duration:12s;}
.icon-animation.w-125 {max-width: 125px;}

.algorithmic-block .al-blk-img2 {position: absolute;bottom: 20px;right: 0;width: 230px;height: 140px;}
.algorithmic-block .al-blk-img2 .albk-1 {position: absolute;right: 0;top: -20px;}
.algorithmic-block .al-blk-img2 .albk-2 {position: absolute;right: 70px;bottom: 10px;}
.algorithmic-block .al-blk-img2 .albk-3 {position: absolute;left: -40px;bottom: 10px;}
#scroll-video{min-height:200vh;}
.fragmenting-video{position:sticky; top:0;}
.fragmenting-video video {width: 100%;height: auto;opacity: 0.3;}

.fund-overview-banner {position: relative;height: 300px;}
.fund-overview-banner img{position: absolute;}
.fund-overview-banner .fo-icon1 {left: 0;top: 0;opacity: 0.5;width: 70px;}
.fund-overview-banner .fo-icon2 {left: 6%;top: 40%;opacity: 0.5;}
.fund-overview-banner .fo-icon3 {left: 25%;top: 20%;opacity: 0.6;}
.fund-overview-banner .fo-icon4 {left: 38%;top: 40%; opacity:0.3;}
.fund-overview-banner .fo-icon5 {left: 50%;top: 2%;opacity: 0.4 !important;}
.fund-overview-banner .fo-icon6 {right: 20%;top: 30%;}
.fund-overview-banner .fo-icon7 {right: 0;top: 10%;opacity: 0.2;}

.token-container .token-icon1 {position: absolute;left: 0;top: 0;}
.token-container .token-icon2 {position: absolute;right: 0;top: 0;}
.token-container .token-icon3 {left: 0;bottom: 0;position: absolute;}
.token-container .token-icon4 {right: 0;bottom: 0;position: absolute;}

.token-container > .icon-animation{max-width:150px;z-index: 1;}
.home_bottom_title {position: absolute;right:5px;bottom: 0;z-index: 5;color: #fff;opacity: 0.25;font-size: 67px;line-height: 72px;text-transform: uppercase; text-align: right; font-weight: 700; margin: 0px;}
.mission-container .lm-icon-1 {position: absolute;left: 10%;top: 40px;max-width: 45px;}
.mission-container .lm-icon-2 {position: absolute;left: 7%;top: 170px;max-width: 45px;}
.mission-container .lm-icon-3 {position: absolute;right: 10%;top: 40px;max-width: 45px;}
.mission-container .lm-icon-4 {position: absolute;right: 15%;top: 120px;max-width: 75px;}   

/* responsive design */
@media screen and (min-width:1900px) and (min-height:1000px) {
    .sidebar-nav .main-nav > li{margin-bottom:70px;}
    
}
@media screen and (max-width:1850px){
    .main-home-content{min-height:450px; padding-bottom: 50px;}
    .main-home-content p {font-size: 20px;letter-spacing:0px;}
    .main-about-content{background-position: top center;}
    .main-about-content .about-bottom p{max-width: 80%;}
    /* .main-about-content .about-top {padding-bottom:210px;} */
    .section-title h2{font-size: 65px;}
    .ecosystem-main-info .top-heading .right-btn{margin-left: auto;width: 100%;
        display: flex;
        justify-content: flex-end;}
    .ecosystem-main-info .top-heading .left-nav{order:1;}
    .algorithmic-rte p {font-size: 20px;}
    .inner-container.algorithm-container:before{background-size: 80px; top: 200px;}
    .marketplace-list{background-position: right 3% top 0px, 0% 75%;}
    .fund-overview-block .section-title h2:after{background-size: 150px;     right: -91px;width: 122px;height: 170px;top: -53px;}
    .fund-heading p {font-size: 20px;}    
    .fund-heading h4{font-size: 24px;}
    .fund-main-info .left-nav .link-list li a{letter-spacing: 3px;}

    .supply-amount{max-width: 420px;    min-height: 300px;}    
    .supply-amount .amount {font-size: 30px;}
    .supply-amount h5{font-size: 20px;margin: 0 0 10px;}
    .supply-amount .token-cirlce{max-height: 300px; left: -30px;}
    .supply-amount .token-money1{max-height: 70px;right: 0px;}
    .supply-amount .token-money2 {right: -100px;top: 36%;max-height: 100px;}
    .inner-container.token-container:before{ background-position: left top, right 20px top 20px, left 20px bottom 20px, right bottom; background-size: 100px;}
    .map-partner-block .section-title h2:after{right: -90px;}
    .metaverses-list li a .social-title{font-size: 18px;}
    .main-about-content .about-bottom .icon-img{max-width: 20%;}

    .algorithmic-block .al-blk-img2 { max-height: 130px;}
    .algorithmic-block .al-blk-img1 {max-height: 130px;top: 33%;}
    .algorithm-container .al-left-top{max-width:140px;}
    .algorithm-container .al-right-top{max-width:80px;}

    .marketplace-content .marketplace-img3 {left: 63%;bottom: 21%;max-height: 100px;}
    .main-structure-content .structure-img1 {max-height: 80px;top: -110px;}
    .main-structure-content .structure-img3,
    .main-structure-content .structure-img2{max-width:13%;}
    .partner-bottom-image img {max-height: 700px;}

    .about-bottom .icon-img1{bottom: 20%; max-width:60px;}
    .about-bottom .icon-img2 {left: 0%;bottom: -10%;max-width: 100px;}
    .token-container > .icon-animation {max-width:100px;}
    .mission-container .section-title h2 {font-size: 90px;}
    .announcement-top{top:138px;}
    .announcement-text{height:60px;font-size:24px;}
    .announcement-text p{top:16px}
}
@media screen and (max-width:1599px){
    .main-about-content .about-bottom p:first-child,
    .main-about-content .about-bottom p {font-size: 16px; max-width: 90%;letter-spacing: 0.20em;}
    .main-about-content .about-top p {font-size: 20px; letter-spacing: 0.20em;}
    .home-main-info .inner-container{max-width: calc(100% - 200px);}
    .home-main-info::before,.home-main-info::after{width:80px; height: 120px;}
    .about-main-info .inner-container{max-width: calc(100% - 200px);}
    .about-main-info::before,.about-main-info::after{width:80px; height: 120px;}
    

    .section-title h2{font-size:50px;}
    .section-title h2:before{width:200px;}

    .hiw-list .hiw-item .hiw-text p {font-size: 16px; letter-spacing: 0.20em;}
    .about-main-info.how-it-work .inner-container {max-width: calc(100% - 200px);}
    .hiw-content h4 {font-size: 20px; letter-spacing: 0.20em;}
    .ecosystem-heading p {font-size: 20px; letter-spacing: 0.20em;}
    .ecosystem-heading h4 {font-size: 24px;}
    .fragmenting-slider .slick-arrow {width: 40px;height: 40px; left: -20px;}
    .fragmenting-slider .slick-next.slick-arrow{right: -20px; left: auto;}
    .fragmenting-slider .slick-arrow:before{margin-top: -6px;margin-left: -3px;width: 12px;height: 12px;}
    .fragmenting-slider .slick-next.slick-arrow:before {margin-left: -9px;}
    .ecosystem-main-info .left-nav .link-list li a{letter-spacing: 3px;}
    

    .marketplace-item .marketplace-text p {font-size: 16px;letter-spacing: 0.2em;}
    .marketplace-list{    background-size:auto 20%, auto 27%; background-position: right 3% top 0px, 30% 75%;}
    .algorithmic-rte p {font-size: 16px; letter-spacing: 0.2em;width:85%;}
    .algorithmic-block {background-size:auto 130px, auto 70px; padding: 30px 0 60px;}

    .about-main-info.how-it-work::before,
    .about-main-info.how-it-work::after{background-size: 60px; width: 80px; height:40%;}
    .main-about-content:before{background-position: 0 bottom;}
    .inner-container.algorithm-container:before{width:100px; height: 100px;}
    .fund-overview-block .section-title h2:after{right:-111px;}
    .fund-overview-content p{max-width: 90%; font-size: 16px;}    

    .fund-main-info .left-nav .link-list li a{font-size: 16px;}
    .fund-main-info .top-heading .right-btn .btn {font-size: 16px;padding: 0 20px;height: 45px;}
    .fund-main-info .top-heading .left-nav{order:1; width:100%;}
    .fund-main-info .top-heading .right-btn{margin-left: auto;}
    
    .fund-structure-rte h5{font-size:20px; letter-spacing: 0.20em;}
    .fund-structure-rte p{font-size: 16px; letter-spacing: 0.20em;}

    .fund-structure-rte:before{    background-position: right top, left 39%, right bottom;background-size: 90px, 100px, 100px;bottom: 0;top:-50px;} 
    .milestone-content h4{font-size:20px;letter-spacing: 0.22em;}
    .milestone-content p {font-size: 16px;letter-spacing: 0.22em;}    

    .metaverses-list li a .social-title{font-size: 14px;top: -32px;}
    .map-partner-block{margin-bottom: -20px;}

    .map-team-block .team-content p{font-size: 20px;}
    .map-team-block{min-height: 750px;}

    .inner-container.milestone-container:before {left: -35px;bottom: -10px;width: 70px;height: 150px;background-size: contain;}
    .inner-container.milestone-container:after {right: -20px;top: 50%;width: 40px;height: 40px;background-size: contain;}

    .map-milestone-block .milestone-button {top:60%;width: 50px;right: -25px;}

    
    .milestone-content{min-height:600px;}
    .main-about-content .about-bottom .icon-img {
        max-width: 10%;
        left: 0;
        bottom: 0;
    }
    
    .fragmenting-box {background-size: 25px auto, auto 80px, auto 25px;}    
    .fund-main-info .overview-img2{max-height:320px;}
    .map-milestone-block .section-title h2,
    .fund-overview-block .section-title h2{font-size:80px;}
    .home_bottom_title{font-size:37px; line-height:1.1;}
    .announcement-top{top:138px;}
  
}
@media screen and (max-width:1365px){
    .sidebar-nav .main-nav > li {margin: 0 0 20px;}
    .inner-container{max-width: calc(100% - 100px);}
    .ecosystem-heading p {font-size: 18px;}
    
    .ecosystem-main-info .left-nav .link-list li a{    padding: 5px 10px;    font-size: 16px;}
    .announcement-text{font-size:20px; height:50px;}
    .announcement-text p{top:15px;}
    .fund-heading h4,
    .fund-heading p,
    .fund-overview-content p{letter-spacing: 0.2em;}
    
    .main-home-content .home-top h4 {
        font-size: 24px;
        line-height: 30px;}

    .road-map-container.team-container:before{background-size: 320px;background-position: left top 60%;}
    .map-milestone-block .milestone-button { width: 40px; right: -23px;}
    /* .announcement-top{width:350px;}
    .announcement-bottom{width: 117px;} */
    .fund-main-info .overview-img2 {max-height: 230px;}
    .map-partner-block{min-height:800px;}

    .about-img .about-img2{max-width:90px;}
    .about-img .about-img4{max-width: 120px;}
    .about-img .about-img5{max-width:40px;}     
    .about-img .about-img6{max-width:120px;}

    .algorithm-container .al-left-top .al-1{width:57px;}
    .algorithm-container .al-left-top .al-2{width:36px;}
    .algorithm-container .al-left-top .al-3{width:30px;}
    .algorithm-container .al-left-top{height: 120px;}
    .token-container > .icon-animation {max-width:70px;}
    .home_bottom_title{font-size:30px; line-height:1.1;}
    .announcement-top {top: 132px;}
}
@media screen and (max-width:1199px){
    .sidebar{width: 200px;}
    /* .sidebar-logo{padding: 30px 10px 30px;} */
    .sidebar-nav .main-nav > li {margin: 0 0 15px;}
    .sidebar-nav .main-nav li a span{padding: 4px 15px; letter-spacing:3px;font-size: 16px; min-width: 117px;} 
    .sidebar-nav .main-nav li a span:before {right: 4px;border-top: 3px solid;border-right: 3px solid;width: 10px;height: 10px;margin-top: -8px;}
    
    .sidebar-nav .main-nav > li > a img {max-height: 30px;}
    .sidebar-social h5 {font-size: 16px; letter-spacing: 3px; margin: 0 0 10px;}
    .social-links li img {max-height: 24px;}
    .page-box{padding: 32px 32px 0px 200px;}
    .left-nav .link-list li a {padding: 5px 20px;border-radius: 10px 10px 0px 0px;font-size: 16px;letter-spacing: 3px;}
    .btn{height: 40px; padding: 0 15px; letter-spacing: 3px; font-size: 16px;}
    .home-content .btn {max-width: 225px;}
    .home-content h2{margin: 60px 0 60px; font-size: 20px; line-height: 30px;}
    /*.home-content ul li{font-size: 20px; line-height: 30px;} */ 

    .home-main-info .inner-container{max-width: calc(100% - 100px);}
    .home-main-info::before,.home-main-info::after{width:60px; height:80px;}
    /* .announcement-top {top:116px;} */
    .announcement-top {top: 116px;}
    .section-title h2{font-size:40px;}
    .section-title{margin-bottom: 30px;}

    .about-main-info .inner-container {max-width: calc(100% - 100px);}
    .about-main-info::before,.about-main-info::after{width:60px;height:80px;}   
    .main-about-content .about-bottom p:first-child,
    .main-about-content .about-bottom p {font-size: 14px; letter-spacing: 0.10em;}
    .main-about-content .about-top p {font-size:16px; letter-spacing: 0.10em;}
    .hiw-list .hiw-item .hiw-text p{font-size: 14px; letter-spacing: 0.10em;}
    .about-main-info.how-it-work .inner-container {max-width: calc(100% - 100px);}

    .ecosystem-main-info .top-heading .left-nav{margin-left: -20px; margin-right: -20px;}
    .ecosystem-heading p { font-size: 16px;}
    .marketplace-item .marketplace-text p {font-size: 14px;}

    .about-main-info.how-it-work::before, .about-main-info.how-it-work::after {background-size: 40px;width: 40px;height: 30%;}
    .marketplace-list {background-size: auto 20%, auto 20%;}
    .ecosystem-heading p{max-width: 100%;}
    .inner-container.algorithm-container:before{top: 150px;}
    .fund-overview-block .section-title h2:after {right: -96px;top: -33px;height: 120px; background-size: 107px;}
    .fund-overview-block:before{background-position: right 0% top 100px, 4% 80%, 40% bottom, 73% 97%;}

    .milestone-content h4 {font-size: 20px;letter-spacing: 0.2em;}
    .milestone-content p {font-size: 16px;}
    .milestone-content img { margin: 0 auto -45px;}
    .metaverses-list li a .social-title{font-size: 12px;}
    .partners-content h4 {    font-size: 20px;    letter-spacing: 0.2em;}
    .metaverses-list{margin-top:0px;}
    .partner-image img{max-height: 270px;}
    .road-map-container.partner-container:before{    background-size: 290px;     background-position: left top 96%;}
    .map-team-block .team-content p{max-width: 100%;}
    .map-team-block .team-content p {font-size: 16px;letter-spacing: 0.2em;}
    
    .milestone-content{min-height:450px;}

    .main-home-content p {font-size: 16px;}
    .main-home-content .home-top h4 {font-size: 18px;}
    .mission-container .section-title h2 {
        font-size: 50px;
    }
    /* /* .announcement-top {width: 250px;}   */
    .announcement-bottom {width: 81px;}  */
    .map-milestone-block .section-title h2,
    .fund-overview-block .section-title h2 {font-size: 50px;}  
    .fund-main-info .overview-img2 {max-height: 140px;}
    .bottom-team-img{max-width:70%;}
    .token-container > .icon-animation {max-width:50px;}
    .mission-container .lm-icon-2{top:120px}
    
}
@media screen and (max-width:991px){
    .inner-container {max-width: calc(100% - 60px); padding:70px 30px 70px;}
    .top-heading{padding: 0 20px;}
    /*.home-content ul li {font-size: 16px;    line-height: 26px;    background-size: 18px auto;    padding-left: 30px;}*/
    .home-main-info .inner-container{max-width: calc(100% - 60px);}
    .home-main-info::before,.home-main-info::after{width:20px; height:30px;}   

    .about-main-info .inner-container{padding-bottom: 30px;}
    .about-main-info .inner-container {max-width: calc(100% - 60px);}
    .about-main-info::before,.about-main-info::after{width:20px; height:30px;}   
    .main-about-content {background-position: top 50px center;background-size: 330px;}
    /* .main-about-content .about-top {padding-bottom: 90px;} */
    .about-main-info.how-it-work .inner-container { max-width: calc(100% - 60px);}
    .section-title h2 {font-size: 30px;}

    .ecosystem-main-info .left-nav .link-list li a {padding: 5px 10px;font-size: 12px;text-align: center;display: flex;letter-spacing: 2px;}
    .ecosystem-heading h4 {font-size: 18px;letter-spacing: 0.2em;}
    .ecosystem-heading p { font-size: 14px;}

    .fragmenting-box{padding:30px 30px 50px 30px;}
    .algorithmic-rte p {font-size: 14px; }    
    .main-about-content:before{    height: 70px;}
    .inner-container.algorithm-container:before{top: 100px;}
    .marketplace-list {background-position: right 3% top 0px, 30% 90%;}
    .fund-overview-block:before {background-position: right 0% top 100px, 4% 80%, 40% bottom, right 93%;background-size: auto,60px,90px, 100px;}
    .fund-heading p {font-size: 16px;}
    .fund-overview-block {padding-bottom: 140px;}
    .fund-overview-content p{font-size: 14px;}
    .fund-overview-block .section-title h2:after{right: -97px;}
    
    .fund-main-info .left-nav .link-list li a {font-size: 14px;letter-spacing: 0.2em;padding: 5px 10px;margin-right: 5px;}

    .fund-structure-rte h5 {font-size: 18px;}    
    .fund-structure-rte p {font-size: 14px;}
    .fund-structure-rte:before {background-size: 50px, 50px, 70px;bottom: 0;top: -10px;}

    .supply-amount {max-width: 270px;min-height:200px; margin-top:70px;}
    .supply-amount .amount {font-size: 22px;letter-spacing: 0.1em;}
    .supply-amount h5 {font-size: 16px; letter-spacing: 0.1em;}
    .supply-amount .token-cirlce {max-height: 180px;}
    .supply-amount .token-money1 {max-height: 40px;}
    .supply-amount .token-money2 {right: -50px;top: 42%;max-height: 50px;}
    .inner-container.token-container:before{background-size:70px;}   
    
    .inner-container.milestone-container:before{height:90px;}
    .inner-container.milestone-container:after{height:30px;}
    .milestone-slide0 .map-milestone-block .section-title:before{background-size:contain; width:120px;}

    .metaverses-list {padding: 0 5px;}
    .metaverses-list li a{padding: 8px 10px;}
    .metaverses-list li a .social-title {font-size:9px;top: -20px;}
    .map-team-block {min-height: 500px;}   
    .road-map-container.team-container:before {background-size: 210px;background-position: left top 65%;}
    .milestone-content p {font-size: 14px;}   

    .algorithm-container .al-left-top {max-width: 100px;top: 20px;}
    .fragmenting-box {
        background-size: 25px auto, auto 60px, auto 25px;
        background-position: left center, 12% 90%, bottom right;
    }
    /* .announcement-top{width: 230px;} */
    .announcement-bottom{width:62px;}
    
    .marketplace-content .marketplace-img1{max-width: 205px;}      

    .main-structure-content .structure-img1 {max-height: 40px;top: -70px;}
    .map-partner-block {min-height: 600px;}
    .partner-bottom-image img {max-height: 420px;}   
    .mission-container .lm-icon-1 {left:5%;}
    .mission-container .lm-icon-2 {top:80px;}
    .mission-container .lm-icon-4{top: 40px;    max-width: 55px;}
    .mission-container .lm-icon-3 {right: 5%;top: 30px;max-width: 40px;}
    
}
@media (min-width:768px){
    .mobile-show{display: none !important;}
}
@media (max-width:767px){
    .page-box:before {position: absolute;content: "";left: 0;top: 0;background: linear-gradient(180deg, rgba(3, 43, 146, 0) 0%, #000B31 100%);width: 100%;height: 100%; pointer-events: none;}

    .sidebar-nav{position:fixed; z-index:9999;}
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
        min-height: 1px;
    }
    .sidebar-nav .main-nav li a span {
        padding: 4px 10px;
        letter-spacing: 3px;
        font-size: 12px;
        min-width: 100px;
    }
    .sidebar-nav .main-nav li a span:before {
        right: 3px;
        border-top: 2px solid;
        border-right: 2px solid;
        width: 8px;
        height: 8px;
        margin-top: -7px;
    }    
    .page-box {padding: 0 15px;}
    .sidebar-logo img {max-width: 143px;}
    .sidebar-social{padding:0px 10px 40px;}

    .top-heading {padding: 10px 0 0; background: transparent;box-shadow: none;}
    .top-heading .left-nav {order:1; width:100%;}
    .top-heading .right-btn {padding:0px 0;width: 100%;margin: 0 0 30px;}
    .top-heading .right-btn .btn {max-width: 180px;margin: 0 auto;font-size: 10px;height: 35px;}

    .sidebar-nav .main-nav{padding: 15px 0; border-width:3px;}
    .sidebar-nav .main-nav > li > a{min-width:35px;}
    .sidebar-nav .main-nav > li > a img {max-height: 25px;}
    .box-bg:before{display:none;}
    .inner-container {max-width: 100%;padding:60px 0 0 30px; min-height:calc(100vh - 288px);}
    .left-nav .link-list{display:table; width: 100%; border-radius:20px; overflow: hidden; margin: 0 auto; max-width: 300px; background-color: rgba(43, 43, 43, 0.84);}
    .left-nav .link-list li {margin: 0;width:50%; display: table-cell;text-align: center;}
    .left-nav .link-list li a {text-align: center;width: 100%;padding:10px 5px;display: block; border-radius:0px; font-size:10px; text-align: center; margin: 0 auto;}
    .left-nav .link-list li.active a {background: rgba(3, 43, 146, 0.98);}

    .main-content {position: relative; z-index:3;}
    .home-content {text-align: center;position: relative;z-index: 10;display: flex;flex-direction: column;padding:60px 0 30px;}
    .home-content h2 {order: 1;margin: 20px auto 0;font-size: 16px;line-height: 1.3; max-width:294px; width:100%;}
    .partners-content {text-align: center;max-width: 460px;margin: 0 auto;}
    .metaverses-list li a .social-title{font-size:7px; }
    .metaverses-list li a{padding: 4px 6px;border-right: 1px solid #fff;}
    .metaverses-list li a img{max-height:44px;}

    .home-container .section-title{display: none;}

    .main-home-content .home-top h4 {font-size: 18px; line-height: 1.2;}
    .main-home-content p {font-size: 17px;}

    .mission-container .section-title h2 {font-size: 41px;}
    .main-about-content .about-top p {font-size: 10px;}
    .section-title,
    .mission-container .section-title {margin-bottom: 60px;}

    .about-img .about-img1 {max-width:20px;}    
    .about-img .about-img2 {max-width:30px;}
    .about-img .about-img3 {max-width:25px; left:13%;}
    .about-img .about-img4 {max-width: 60px;}
    .about-img .about-img5 {max-width:20px;}
    .about-img .about-img6 {max-width: 60px;}
    .about-img .about-img2 {max-width:25px;}
    .about-img{    min-height: 140px;}

    .main-about-content .about-bottom p:first-child, .main-about-content .about-bottom p {font-size: 10px;}
    .about-bottom .icon-img1{max-width: 30px;}
    .about-bottom .icon-img2{max-width: 50px;}

    .section-title h2 {font-size: 25px;padding: 0 0 10px; letter-spacing: 0.2em;}
    .hiw-list .hiw-item .hiw-text p,
    .hiw-content h4 {font-size: 10px;}

    .hiw-list .hiw-item .hiw-img img {max-height: 90px;}
    .hiw-list .hiw-item .hiw-img img + img {max-height: 50px;}
    .hiw-list .hiw-item .hiw-img{padding: 5px 20px;}
    
    .main-content.ecosystem-main-info {overflow: visible;}
    .announcement-top {
        top: -32px;
        left: -15px;
        position: absolute;
        width: auto;
        right: -15px;
    }
    .announcement-bottom {left: auto;right: -15px; bottom: auto;}
    .announcement-text {font-size: 10px;height: 33px;}
    .announcement-text p {top: 10px;}

    .ecosystem-main-info .top-heading .left-nav {margin-left: 0;margin-right: 0;}    
    .ecosystem-main-info .left-nav .link-list{max-width:380px; justify-content: space-between;}
    .ecosystem-main-info .left-nav .link-list li{width:auto;}
    .ecosystem-main-info .left-nav .link-list li a {padding: 10px 5px;font-size: 8px; display: block;}

    .section-title h2:before {width: 130px;height: 2px;}
    .ecosystem-heading p {font-size: 10px;}

    .fragmenting-box .icon-animation {display: none;}
    .fragmenting-box {padding: 20px 10px 30px 10px;}
    .marketplace-item .marketplace-text p {font-size: 10px;}
    .marketplace-list .marketplace-item .marketplace-img{padding: 10px 10px;}
    .marketplace-content .marketplace-img1 {max-width: 135px;}
    .marketplace-content{padding-top: 70px;}

    .ecosystem-heading h4 {font-size: 17px;}
    .algorithmic-rte p {font-size: 10px;}

    .algorithm-container .al-left-top {max-width: 100%;top: 100px;width: 100%;left: 0;height: 80px;}
    .algorithm-container .al-left-top .al-1 {width: 35px;left:20%;top:20px;}
    .algorithm-container .al-left-top .al-2 {width:24px;left:40%;top:20px;}
    .algorithm-container .al-left-top .al-3 {width:50px;left:60%;top:20px;}

    .algorithm-container .al-right-top {max-width: 50px;}
    .algorithmic-block .al-blk-img1{max-height: 90px;}
    .algorithmic-block .al-blk-img2 img{max-height:50px;}

    .fund-main-info .top-heading .right-btn .btn {font-size: 10px;padding: 0 10px;height: 35px;}
    .fund-main-info .left-nav .link-list li a {font-size: 10px;letter-spacing: 0.2em;padding: 10px 5px;margin-right: 0px;}
    
    .map-milestone-block .section-title h2, .fund-overview-block .section-title h2 {font-size: 41px;}
    .fund-overview-block .section-title h2:after {right: -76px;top: -28px;height: 80px;background-size: 47px;}

    .fund-overview-block .main-fund-content {padding-top: 0;}
    .fund-heading h4 {font-size: 17px;}
    .fund-heading p {font-size: 10px;}
    .fund-overview-content p {font-size: 10px;}
    .fund-overview-banner img {max-width: 50px;}
    .fund-overview-banner { height: 170px; }
    .fund-overview-block {padding-bottom: 30px;}
    .fund-main-info .overview-img2 {max-height: 70px;right: 0;}
    .fund-structure-rte h5 {font-size: 10px;}
    .fund-structure-rte p {font-size: 10px;}
    .fund-structure-rte h5 {margin-top: 20px;}

    .supply-amount {max-width: 220px;min-height: 180px;}
    .supply-amount .amount {font-size:20px;}
    .supply-amount h5 {font-size: 12px;}
    .token-container > .icon-animation {max-width: 60px;}
    .milestone-content p,
    .milestone-content h4 {font-size: 10px;}
    .wave-effect{top:10px}
    .milestone-content.milestone-item1 .milestone-banner {margin-bottom: 0;}

    .map-milestone-block .milestone-button {width: 40px;right: -7px;top: 42%;}
    .milestone-content .milestone-banner{margin-bottom: 0 !important;}
    .map-partner-block {min-height: 460px;}
    .about-main-info .inner-container,
    .about-main-info.how-it-work .inner-container {
        max-width: 100%;
    }
    .fund-main-info .left-nav .link-list li{width:auto;}

    .main-content:before {
        position: fixed;
        content: "";
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(3, 43, 146, 0) 0%, #000B31 100%);
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 4;
        opacity:0.8;
    }
    .ecosystem-main-info .main-content:before{z-index:0;}
    .fund-main-info.main-content:before{display: none;}
    .inner-container.fund-container.token-container{z-index:10;}
    .token-container .token-icon1 {left: 40px;top: 80px;}
    .token-container .token-icon2 {right: 40px;top: 80px;}
    .token-container .token-icon3 {left: 40px;bottom:20px;}
    .token-container .token-icon4 {right: 40px;bottom:20px;}
    .token-container > .icon-animation {max-width: 70px;}

    .landing-container {overflow: visible;z-index: initial;}
    .top-heading{position: relative; z-index:10;}
    .main-landing-content:before{opacity:1;}
    .home-container .box-bg{z-index:4;}
    .home-container .box-bg img {width: 150%;max-width: 150%;display: block;margin: auto auto 0;margin-left: -25%;}
    .main-home-content{min-height: 520px;}

    .mission-container .lm-icon-1 {    left: 21%;max-width: 30px;}
    .mission-container .lm-icon-2 {top: 120px;left: 40%;max-width: 40px;}
    .mission-container .lm-icon-4{top:110px;   max-width:40px;}
    .mission-container .lm-icon-3 {right: 5%;top:80px;max-width: 40px;}
    .milestone-wrapper{z-index:11;}
    .map-milestone-block .milestone-button{z-index: 12;}
    .token-container .token-icon5 {
        left:10px;
        bottom: 110px;
        top: auto;
        position: absolute;
        max-width: 50px;
    }
}
@media (max-width:400px){
    .section-title h2 {font-size: 20px;}
}